<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <style>
        body {
            padding-top: 60px;
            padding-bottom: 40px;
        }
    </style>
    <link rel="stylesheet" href="css/bootstrap-responsive.min.css">
    <link rel="stylesheet" href="css/main.css">

    <script src="js/vendor/modernizr-2.6.1-respond-1.1.0.min.js"></script>
</head>
<body>
<!--[if lt IE 7]>
<p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
<![endif]-->

<!-- This code is taken from http://twitter.github.com/bootstrap/examples/hero.html -->

<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a href="#About" data-toggle="modal" class="brand"
               title="A complete markitup collection.">markItUp! Hoard
            </a>
            <div class="nav-collapse collapse">
                <ul class="nav">
                    <li id="markitup-default">
                        <a href="markitup-default.html">HTML</a>
                    </li>
                    <li id="markitup-markdown">
                        <a href="markitup-markdown.html">Markdown</a>
                    </li>
                    <li id="markitup-markdownextra">
                        <a href="markitup-markdownextra">Markdown
                            Extra</a>
                    </li>
                    <li>
                        <a href="markitup-textile.html">Textile</a>
                    </li>
                    <li id="markitup-wiki">
                        <a href="markitup-wiki.html">Wiki</a>
                    </li>
                    <li id="markitup-bbcode">
                        <a href="markitup-bbcode.html">BBCode</a>
                    </li>

                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </div>
</div>

<div class="container">

    <!-- Main information section -->

    <div class="row-fluid">
        <div id="input" class="span6">
            <p class="label label-info">Input</p>

<textarea id="multiSet" cols="70" rows="40">
Type here...
</textarea>

        </div>
        <div class="span6">
            <p class="label label-success">Output</p>
            <div id="output">
            </div>
        </div>

    </div><!-- end row-fluid -->

    <hr>

    <footer>
        <p>&copy; Company 2012</p>
    </footer>

</div> <!-- /container -->

<!-- about dialog -->

<div class="modal hide" id="About" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="AboutLabel">markItUp! Hoard</h3>
    </div>
    <div class="modal-body">
	<em>markItUp! Hoard is a collection of markItUp! examples, sets, and parsers.</em>
	<p>Source code can be downloaded from <a href="https://github.com/ytjohn/markitup-hoard">github</a></p>

	<p><em>markItUp!</em> is copyright <a href="http://www.jaysalvat.com/">Jay Salvat</a>. Get more information on
	<a href="http://markitup.jaysalvat.com/">http://markitup.jaysalvat.com/</a> or access the source code on <a href="https://github.com/markitup/1.x">github</a>.
	</p>

    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    </div>
</div>
<!-- end about dialog -->

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/vendor/jquery-1.8.1.min.js"><\/script>')</script>

<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.1.1/js/bootstrap.min.js"></script>
<script>if ($('body').popover) { }
else document.write('<script src="js/vendor/bootstrap.min.js"><\/script>') }
</script>

<script src="js/main.js"></script>

<!-- markitup -->
<script type="text/javascript" src="markitup/jquery.markitup.js"></script>
<link rel="stylesheet" type="text/css" href="markitup/skins/markitup/style-hoard.css" />

<!-- end top -->
